.card {
  width: 280px;
  height: 300px;
  margin: 8px;
  display: block;
  float: left;
  border-radius: 10% 0 10% 0;
  border: 4px solid rgb(139, 118, 216);
}

.day {
  height: 25%;
  border-top-left-radius: 18px;
  background: rgb(158, 140, 223);
}

.map {
  height: 45%;
  background: rgb(223, 215, 215);
}

.bottom {
  height: 30%;
  background: rgb(158, 140, 223);
  font-weight: 500;
  border-bottom-right-radius: 18px;
}

.temp {
  width: 30%;
  float: left;
}

/* .hiLo{
  background: rgb(175, 159, 240);
  width: 40%;
  float: left;
  height: 100%;
} */

.icon {
  background: rgb(175, 159, 240);
  width: 40%;
  float: left;
  height: 100%;
}

.icon img{
  margin: 16px auto;
  width: 50%;
}

.wind {
  width: 30%;
  float: left;
}

p {
  margin: 0;
  padding: 0;
}