.card {
  width: 280px;
  height: 150px;
  margin: 8px;
  display: block;
  float: left;
}

.day {
  height: 45%;
  border-top-left-radius: 12px;
  background: rgb(211, 211, 170);
  border-bottom: 2px solid rgb(139,118,216);
}

.bottom {
  height: 55%;
  background: rgb(158, 140, 223);
  font-weight: 500;
  border-bottom-right-radius: 14px;
}

.temp {
  width: 30%;
  float: left;
}

.icon {
  background: rgb(175, 159, 240);
  width: 40%;
  float: left;
  height: 100%;
}

.icon img{
  margin: 8px auto;
  width: 50%;
}

.wind {
  width: 30%;
  float: left;
}

p {
  margin: 0;
  padding: 0;
}